<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/material-dashboard.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper ">
            {% include 'AppBundle:menu:left.html.twig' %}
            <div class="main-panel">
                {% block main %}{% endblock %}
                {% include 'AppBundle:footer:default.html.twig' %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/core/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/core/bootstrap-material-design.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/core/popper.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
